.app__contact {
    background: radial-gradient(#fdf9f9,#727171);
}

.contact_bg{
    background-image: url("https://www.handscarpets.com/content/images/contact-banner.jpg");
    width: 100%;
    height: 600px;
}
.contact_content{
    background: white;
    height: 100%;
    justify-content: center;
    text-align: center;
    font-family: cursive;
    color: #727171;
}
.contact_content h2{
    display: block;
    margin: 3rem;
    letter-spacing: 0.8em;
}
.contact_details{
    justify-content: start;
    text-align: start;
    font-family: "cursive";
    margin: 1rem;
}
.contact_details p{
    font-size: 25px;
    margin-left: 2vw;
    line-height: 1.5em;
    justify-content: center;
    text-align: center;
}

@media screen and (min-width: 2000px) {
    .app__specialMenu-menu_img {
        width: 650px;
    }

    .app__specialMenu-menu_img img {
        height: 920px;
    }
}

@media screen and (max-width: 1150px) {
    .app__specialMenu-menu {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .app__specialMenu-menu_img {
        margin: 3rem 0;
    }
}

@media screen and (max-width: 650px) {
    .app__specialMenu-menu_img {
        width: 100%;
    }

    .app__specialMenu-menu_heading {
        font-size: 35px;
        line-height: 48.5px;
    }
}